<div class="container mt-5 mb-5">

    <div class="row">

        <div class="col-lg-4" *ngFor="let item of product">

            <div class="foodbox mt-3 mb-3">
                <img src="{{item.images}}">
                <h1>{{item.brand}}</h1>
                <p>{{item.description}}</p>
                <p>{{item.price| currency:'usd'}}</p>
                <br/>
                <a class="buybtn" (click)="getProductDEtail(item.Id)">Buy Now <i class="bi bi-bag"></i></a>
            </div>

        </div>



    </div>

</div>