body{
    background-color: black;
}
.login{
    width: 100%;
    
    background-color: rgb(246, 50, 19);
}

.txt{
   
    margin-bottom: 50px;
    
}
#user{
    width: 50%;
    height: 50px;
    margin-top: 200px;
    margin-left: 250px;
}
#pwd{
    width: 50%;
    height: 50px;
    margin-left: 250px;
}
.buttons{
    margin-top: 50px;
    margin-left: 550px;
    
}
.entypo-user-add{
    margin-left: 150px;
}